# Sphinx build output
docs/_build/
_build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Geospatial data / big files
*.geojson
*.csv
*.gpkg
*.html
*.graphml
*.osm
*.pbf
*.tif
*.tiff
*.zip
*.parquet
*.geoparquet
*.nc
*.hdf5
*.h5
*.shp
*.shx
*.dbf
*.prj
*.cpg
.claude.md
cache/

# Virtual environment
.venv/
venv/

# Documentation build files
docs/build/

# Python egg files / build artifacts
*.egg-info
dist/
build/
UrbanAccessAnalyzer.egg-info/

# Tool caches
cache/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
.pytest_cache/

no_sync/

api_keys.py

presentation/